/* Dark mode */
@media (prefers-color-scheme: dark) {
    body { background: black; }
    .black-text, .name { color: white; }
    a:hover { color:white; }
    #bottom-menu { background-color: black; border-top: 1px solid #222; }
    #bottom-menu a { color: white; opacity: 0.45;}
    .back { color: white; }
    .link:hover { color:white !important; }
    p, a, h1 { color: #888; }
    .case { background-color: #222; }
}

/* @media (prefers-color-scheme: light) { body { background: white; } } */