/* Mobile styles*/
@media screen and (max-width: 414px) {
    .about { width: 100%; margin-top: 120px; }
    .about h1 { width:100%; font-size: 24px; }
    .wrap { width: 90%; margin: 0 auto; }
    .top { font-size: 16px; }
    .bottom-menu { padding: 4px 0 12px 0; }
    .bottom-menu a { font-size: 12px; padding: 0 4px; }
    .name { padding-left: 16px; }
    .back {position: relative;}
    .menu-links { margin-right: 8px; }
    .work-case img { width: 100%; }
}